<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf8"/>
      <meta http-equiv="pragma" content="no-cache"/>
      <meta name="viewport" content="width=device-width,initial-scale=1"/>
      <title>OCR Using Tesseract via Docker</title>
      <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body>

      <h2>OCR From Stream</h2>

      <br><br><hr><br>
      <a href="ocr_from_clipboard">OCR From Clipboard</a>
      <br><br>
      <a href="ocr_from_stream">OCR From Stream</a>

  </body>
</html>